@CHARSET "UTF-8"; 
.returnTop{
    position:fixed;
    bottom:80px;
    right:0;
    display:none;
}
 
.ad_cell{
    position: relative;
    width: 250px;
    height: 250px;
    float: left;
    margin: 5px;
    z-index: 1;
}
.ad_cell .keyInfo{
    display:none;
}
.ad_cell a:hover .keyInfo{
    display:block;
    position:absolute;
    top:170px;
    left:100px;
    width:120px;
    border: 1px solid gray;
    background-color:white;
    color:black;
    font-family: "Microsoft YaHei" ! important;
    font-size:10;
    opacity:0.9;
    box-shadow: 4px 5px 5px #121212;
    padding:1px;
    z-index:20;
}
.ads{
    background-color: #fde0d8;
    width: 1300px;
    margin:0 auto;
    padding: 5px;
}
.adpost_none img{
    width: 1300px;
}
.info{
    font-size: 16px;
    margin: 20px 100px;
}
.info span{
    margin: 0 10px;
}
.info span em{
    color: #FFAA8C;
    font-weight: bold;
}
.scroll_feild{
    width: 1300px;
    margin:10px auto;
    overflow: hidden;
    border: 1px solid #ccc;  
}
.scroll_feild .wrapper{
    width: 7000px;
    overflow: hidden;
}
.scroll_feild ul{
    float: left;
}
.scroll_feild ul li{
    width: 250px;
    height: 250px;
    float: left;
    padding: 5px;
}
.scroll_feild ul li img{
    width: 250px;
    height: 250px;
}